span.titlePage {
    
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size-adjust: auto;
}

div.titlePageBlock {
    background-image: url(/completedImages/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titleQuote {
    margin: auto;
    background-color: aliceblue;
    opacity: 0.75;
}
