span.titlePage {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size-adjust: auto;
}

div.page-header {
    background-image: url(completedImages/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titleQuote {
    margin: auto;
    background-color: aliceblue;
    opacity: 0.75;
}

.recAreaOuput {
    margin-top: 10px;
    border: 1px solid;
    padding: 5px;
}
